/* STYLING FOR THE ABOUT US PAGE BEGINS HERE  */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
    list-style: none; 
    font-family: 'poppins', sans-serif;  
    /* font-family: montserrat; */
    
 }
 body,  html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-behavior: smooth;
    overflow-x: hidden;
 }

/* THE NAVBAR STYLING STARTS HERE  */
nav{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 25vh;
    color: white;
    background: grey !important;
}


.navbar-brand img{
    background: white !important;
    width: 45px;
    height: 45px;
    margin-left: 50px;
}

.nav-item a{
    color:white !important;
}

.nav-item a:hover{
    color:red !important;
}

.dropdown-menu{
    background: grey !important; 
}
.dropdown-menu li a:hover{
    background:red !important;
    color: white !important;
}
/* THE NAVBAR STYLING ENDS HERE  */

.free-gift{
    position: absolute;
    text-align: center;
    top: 15%;
    right: 15%;
    z-index: 1;
    animation:gift 2s ease 3s infinite;  
}

@keyframes gift{

   0%{
      transform:rotateY(0deg);
  }
  25%{
    transform:rotateY(90deg);
}
   50%{
      transform:rotateX(0deg);
  }
  75%{
    transform:rotateX(60deg);
}
  100%{
    transform:rotateX(0deg);
}
}

.free-gift a{
    color: yellow;
    text-decoration: none;
    text-shadow: red 2px 2px 2px;    
}
.fa-gift{
    color: yellow;
    /* text-decoration: none; */
}
.live-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 50px;
    font-weight: bolder;
    background-color: transparent;
    border:solid  2px white;
    text-decoration: none;
    color: white;
    margin-right: 60px;
    
}

.live-button:hover{
    border-color: red;
    color: red;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */


/* *********************************************** */
.AboutUs{
    /* margin-top: 50px; */
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    gap: 30px;
    color: white;
    background: url(./thisbelieve/cutchurchbuildin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.us1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; 
    height: auto;
    padding: 0 10px;
    margin-top: 20px;
    text-shadow: 1px 1px 1px grey;
}
.us1 p{
    font-size: 20px;
}

.us2{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70%; 
    height: auto;
    padding: 0 10px;
    margin-bottom: 15px;
    background-color: red; 
    text-shadow: 1px 1px 1px grey;
}

.usA p{
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
}

.four-fold{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
.four-fold p{
    font-size: 20px;
}

.four-fold img{
    width: 60px;
    height: 60px;

}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.tenets-heading{
    display: flex;
    align-items: center;
    justify-content:center;
    text-align:center;
    margin-bottom: 20px;
    text-shadow: grey 2px 2px 2px;
    color: white;
    background-color: grey;
    /* background: url(./images/plywoodcolorpexels-fwstudio-129731.jpg); */
    width:100vw;
    height: 15vh;
}
.cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 20px 0;
    width: 100vw;
    height: auto;
    background-color: grey; 
}

.accordion-flush{
    text-align: center;
    width: 80vw;
}

.accordion-body{
    background: linear-gradient(
        45deg,
        rgba(236, 74, 29, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
    color: white;
    text-shadow: grey 2px 2px 2px;
}

.accordion-button.collapsed{
    color: white;
    text-shadow: grey 2px 2px 2px;
    background-color: grey;
    letter-spacing: 2px;
    word-spacing: 6px;   
}

.accordion-button.collapsed:hover{
    background: linear-gradient(
        45deg,
        rgba(236, 74, 29, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
}

/* THE STYLING FOR THE CONTACT US SECTION BEGINS HERE  */
#contact-us{
    padding-top: 50px;
    width: 100vw;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url(/backgrdimg/cutback1.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;  
}
#contact-us h1{
    color: white;
    text-shadow: 1px 1px 1px grey;
}

.contact-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    color: white;  


}
.contact-msg h5{
    color: white;
    font-size: 20px;
}
.contact-msg p{
    /* font-weight: 20px; */
    font-size: 20px;
    color: white;  
}

.Location-WriteUs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 40px;
    width: 100vw;
    height: auto;
}

.map{
    margin-top: 15px;
    padding-left: 50px;
}

.message_me{
    color: black;
    font-size: 40px;
}
.lets_talk{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
     border-radius: 5px;

}

form input{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 520px;
    height: 40px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    padding-left: 15px;
 
}

textarea{
    width: 520px;
    height: 40vh;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 15px;
 
}

.submit{
    display: flex;
    width: 300px;
    height:50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: red;
}
.submit:hover{
    background-color: black;
}
/* THE STYLING FOR THE CONTACT US SECTION ENDS HERE  */

.top .fa-solid{
    position: fixed;
    text-decoration: none;
    z-index: 1;
    padding-left: 10px;
    left: 10px;
    bottom: 30px;
    color: red;
}

/* STYLING FOR THE FOOTER AREA  */

footer{
    display:flex;
    background-color: #000;  
    width: 100vw;
    height: 35vh;
    color: white;
    justify-content: space-around;
    align-items: center;
    place-items:center;
}

footer a{
    transition: all 0.1s ease
}
footer a:hover{
    padding-left: 10px;
    font-weight: bolder;
    color: red;
}



.follow-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    /* background-color: red; */
}

.follow-us a{
    color: white;
    text-decoration: none;
}
.address{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    /* background-color: red; */
}

.address a{
    color: white;
    text-decoration: none;
   
}
.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    /* background-color: red; */
}
.my-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    /* background-color: blue; */
}

.my-icon a{
    color: white;
    text-decoration: none;
}
.copyright p:hover{
    color: red;
}

.tag{
   text-shadow:2px 2px 2px red;
   animation:bayo 2s ease 1s infinite;  
}

@keyframes bayo{

   0%{
      transform:rotateX(-45deg);
  }
   50%{
      transform:rotateY(45deg);
  }
}


